<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/cart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <title>Корзина</title>
</head>
<body>
    <div class="header">
        <div class="header-img">
            <img src="/media/media/images/top_wave.svg" alt="">
        </div>
        <div class="header-logo">
            <a href="/">
                <img src="/media/media/images/youtube-logo — копия.svg" alt="">
            </a>
        </div>

        <div class="cart-icon">
            <a href=""><button class="cart-button">
                <img src="/media/media/images/shop-icon.svg" alt="">
            </button></a>
        </div>
    </div>
    <div class="cart-main">
        {% if cart_items %}
            <div class="cart-grid">
                {% for item in cart_items %}
                    <div class="cart-item">
                        <div class="cart-item-img">
                            <img src="{{ item.item.image.url }}" alt="">
                        </div>
                        <div class="cart-item-info">
                            {{ item.item.name }}<br>
                            {{ item.quantity }} шт.<br>
                            {{ item.get_cost }}
                            <form method="post" action="{% url 'remove_from_cart' item.item.id %}">
                                {% csrf_token %}
                                <button type="submit">Удалить</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="cost">
                Общая стоимость:<br>
                {{ total_price }}
            </div>
            <form action="{% url 'cart_view' %}" method="post" name="delete_all">
                {% csrf_token %}
                <input type="submit" name="delete_all" value="Очистить корзину">
            </form>
        {% else %}
            <div class="empty-cart">
                <div class="empty-cart-info">
                    <h1>В корзине пока пусто</h1>
                    <p>Загляните на главную, чтобы выбрать товары</p>
                    <a href="/">
                        Перейти на главную
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>