{% extends 'index.html' %}

{% block links %}
  <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block title %}
  Login
{% endblock %}

{% block main %}
    <article>
        <h1>BULL'S SHOP</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="pwd" placeholder="Password">
            <button>Login</button>
            <div class="error-list">{{ form.errors }}</div>
        </form>
        <div>
          <a href="{% url 'password_reset' %}">Forget password?</a> <span>or</span> <a href="{% url 'shop:register' %}">Sign up</a>
        </div>
    </article>
{% endblock %}