{% extends 'index.html' %}

{% block links %}
  <link rel="stylesheet" href="/static/css/login-register.css">
{% endblock %}

{% block title %}
  Сброс пароля
{% endblock %}

{% block main %}
  <article style="height: 30vw">
    <h2>Сброс пароля</h2>
    <p>Введите адрес электронной почты и мы отправим вам письмо с инструкцией по смене пароля</p>
    <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="email">
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        <input class="submit" type="submit" value="Отправить">
    </form>
</article>
{% endblock %}