<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body>
<h1>Сброс пароля</h1>
<p>введите адрес электронной почты и мы отправим вам письмо с инструкцией по смене пароля</p>
<form method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="введите адрес электронной почты">
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
    <input type="submit" value="Отправить">
</form>
</body>
</html>