{% extends 'index.html' %}

{% block links %}
  <link rel="stylesheet" href="/static/css/login-register.css">
{% endblock %}

{% block title %}
  Сброс пароля
{% endblock %}

{% block main %}
  <article>
    <h2>Сброс пароля</h2>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            <input type="password" name="new_password1" value="введите новый пароль"> sdfsdf
            {% if form.new_password1.errors %}
                {{ forn.new_password1.errors }}
            {% endif %}
            <input type="password" name="new_password2" value="подтвердите новый пароль">
            {% if form.new_password2.errors %}
                {{ form.new_password2.errors }}
            {% endif %}
            <input class="submit" type="submit" value="Сменить пароль">
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна. Попробуйте еще раз </p>
    {% endif %}
  </article>
{% endblock %}