{% extends 'index.html' %}

{% block links %}
  <link rel="stylesheet" href="/static/css/login-register.css">
{% endblock %}

{% block title %}
  SignUp form
{% endblock %}

{% block main %}
    <article>
      <h1>BULL'S SHOP</h1>
      <form method="post">
          {% csrf_token %}
          <input type="text" name="username" placeholder="username" required="">
          <input type="email" name="email" placeholder="Email" required="">
          <input type="password" name="password1" placeholder="Password" required="">
          <input type="password" name="password2" placeholder="Confirm Password" required="">
          <label class="agreement">
            <input class="agree-checkbox" type="checkbox" required="">
            <span class="agree-input">I Agree To The Terms & Conditions</span>
          </label>
          <button class="submit">Sign up</button>
          <div class="error-list">{{ form.errors }}</div>
      </form>
      <div class="bottom-form">
        <span>Already have an account?</span><a href="{% url 'login' %}"> Login Now!</a>
      </div>
    </article>
{% endblock %}