.cart-main {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-left: 3vw;
    margin-top: 20vw;
    width: 94vw;
    font-family: Atkinson Hyperlegible Mono, Arial;
}

.cart-grid {
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}

.cart-item {
    background-color: white;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.cart-item button {
    font-family: Atkinson Hyperlegible Mono, Arial;
}

.cart-item-img {
    display: flex;
    align-items: center;
}

.cart-item-info {
    margin-top: 10px;
    font-size: 30px;
    font-family: Atkinson Hyperlegible Mono, Arial;
    font-weight: 500;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item-info button {
    margin-top: 2vw;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px 10px;
    border: none;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.2s;
    font-family: Atkinson Hyperlegible Mono, Arial;
    font-size: 13px;
    cursor: pointer;
}

.cart-item-info button:hover {
    opacity: 0.7;
}

.cart-item-info button:active {
    opacity: 0.5;
}

.cost {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 550;
}

.cart-item-img img {
    width: 20vw;
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 300px;
    border-radius: 1vw;
    background-color: white;
    box-shadow: 0 0 50px rgba(200, 200, 200, 0.5),
        inset -5px -5px 10px rgba(0, 0, 0, 0.5);
}

.empty-cart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    max-width: 20vw;
}

.empty-cart-info h1 {
    margin: 0;
}

.empty-cart-info p {
    margin: 0;
    font-size: 1.7vw;
    color: gray;
}

.empty-cart-info a {
    text-decoration: none;
    background-color: black;
    padding: 20px 40px;
    border-radius: 1vw;
    margin-top: 10px;
    color: white;
    font-size: 1.7vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5),
        inset -3px -3px 5px rgba(200, 200, 200, 0.5);
    transition: opacity 0.15s;
}

.empty-cart-info a:hover {
    opacity: 0.8;
}

.empty-cart-info a:active {
    opacity: 0.5;
}