.cart-main {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 20vw;
    width: 94vw;
    font-family: Atkinson Hyperlegible Mono, Arial;
}

.cart-grid {
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}

.cart-item {
    background-color: white;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.cart-item button {
    font-family: Atkinson Hyperlegible Mono, Arial;
}

.cart-item-img {
    display: flex;
    align-items: center;
}

.cart-item-info {
    margin-top: 10px;
    font-size: 30px;
    font-family: Atkinson Hyperlegible Mono, Arial;
    font-weight: 500;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item-info button {
    margin-top: 2vw;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px 10px;
    border: none;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.2s;
    font-family: Atkinson Hyperlegible Mono, Arial;
    font-size: 13px;
    cursor: pointer;
}

.cart-item-info button:hover {
    opacity: 0.7;
}

.cart-item-info button:active {
    opacity: 0.5;
}

.cost {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 550;
}

.cart-item-img img {
    width: 20vw;
}