body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
}

.header-img {
    position: relative;
    z-index: 100;
    width: 100vw;
}

.header-img img {
    position: absolute;
    width: 100vw;
    left: -10px;
    top: -3vw;
    z-index: 100;
    scale: 120%;
}

.header-logo{
    position: absolute;
    width: 100vw;
    margin-top: 2.7vw;
    z-index: 102;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
}

.header-logo a{
    font-family: "Rubik Glitch", "Arial";
    font-size: clamp(0.4rem, 3vw, 2.2rem);
    text-decoration: none;
    color: black;
}

.cart-button{
    position: absolute;
    right: 2.5vw;
    margin-top: 2vw;
    z-index: 102;
    background-color: rgba(0, 0, 0, 0);
    height: 5vw;
    padding: 0;
    border: none;
    border-radius: 25px;
    transition: opacity 0.2s, transform 0.2s;
    cursor: pointer;
}

.cart-button img {
    height: 100%;
}

.cart-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.cart-button:active {
    transform: scale(90%);
}

.footer {
    margin-top: 5vw;
    background-color: white;
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    font-size: clamp(0.4rem, 1.6vw, 2.2rem);
    font-family: "Rubik Glitch", "Arial";
}

.footer-a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35vw;
}

.footer-a a{
    text-decoration: none;
    color: black;
    font-family: "Unbounded", "Arial";
    font-size: clamp(0.4rem, 1vw, 2.2rem);
}

.footer-a a:hover {
    color: rgba(0, 0, 0, 0.7);
}