body {
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
}

.header-img {
    position: relative;
    z-index: 100;
    width: 100vw;
}

.header-img img {
    position: absolute;
    width: 100vw;
    left: -10px;
    top: -3vw;
    z-index: 100;
    scale: 120%;
}

.header-logo{
    position: absolute;
    width: 100vw;
    margin-top: 2.7vw;
    z-index: 102;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
}

.header-logo a{
    font-family: "Rubik Glitch", "Arial";
    font-size: clamp(0.4rem, 3vw, 2.2rem);
    text-decoration: none;
    color: black;
}

.profile {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 1vw;
    left: 2.5vw;
    top: 2.7vw;
    height: 4vw;
    z-index: 102;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s;
}

.profile-a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    column-gap: 1vw;
}

.profile-a:hover img {
    background-color: rgba(0, 0, 0, 0.1);
}

.profile-a:active {
    transform: scale(95%);
}

.profile-a img {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
}

.profile-username {
    margin: 0;
    font-size: clamp(0rem, 1.5vw, 100rem);
    font-family: "Rubik Glitch", "Arial";
}

.profile-login,
.profile-register {
    white-space: nowrap;
    font-size: clamp(0rem, 1.1vw, 100rem);
    text-decoration: none;
    font-family: "Unbounded", "Arial";
    color: white;
    background-color: black;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 0.6vw;
    opacity: 1;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

.profile-login {
    border: 0.11vw solid black;
    padding: 0.39vw 0.89vw;
    background-color: white;
    color: black;
}

.profile-login:hover {
    background-color: black;
    color: white;
}

.profile-register:hover {
    opacity: 0.7;
}

.profile-login:active,
.profile-register:active {
    transform: scale(95%);
}

.cart-button{
    position: absolute;
    right: 2.5vw;
    margin-top: 2vw;
    z-index: 102;
    background-color: rgba(0, 0, 0, 0);
    height: 5vw;
    padding: 0;
    border: none;
    border-radius: 25px;
    transition: all 0.2s;
    cursor: pointer;
}

.cart-button img {
    height: 100%;
}

.cart-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.cart-button:active {
    transform: scale(90%);
}

footer {
    margin-top: 16vw;
    background-color: white;
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    font-size: clamp(0.4rem, 1.6vw, 2.2rem);
    font-family: "Rubik Glitch", "Arial";
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35vw;
}

nav a{
    text-decoration: none;
    color: black;
    font-family: "Unbounded", "Arial";
    font-size: clamp(0.4rem, 1vw, 2.2rem);
    cursor: pointer;
}

nav a:hover {
    color: rgba(0, 0, 0, 0.7);
}