body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
}

.header-img {
    position: relative;
    z-index: 100;
    width: 100vw;
}

.header-img img {
    position: absolute;
    width: 100vw;
    left: -10px;
    top: -3vw;
    z-index: 100;
    scale: 120%;
}

.header-logo{
    position: absolute;
    width: 100vw;
    margin-top: 3vw;
    cursor: pointer;
    z-index: 102;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo img{
    height: 3vw;
}

.cart-button{
    position: absolute;
    right: 20px;
    margin-top: 3vw;
    z-index: 102;
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cart-button img {
    height: 100%;
}

.cart-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}