.search {
    margin-top: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search ul {
    display: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-text {
    width: 30vw;
    height: 3vw;
    padding-left: 1vw;
    font-size: 1.3vw;
    font-family: Atkinson Hyperlegible Mono, Arial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.search-text p {
    margin: 0;
    padding: 0;
}

.search-button {
    width: 4vw;
    height: 3.3vw;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(200, 200, 200);
    margin-left: -1px;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.search-button img {
    height: 100%;
}

search-text::placeholder {
    font-family: Atkinson Hyperlegible Mono, Arial;
    font-size: 16px;
}

.search-result {
    display: flex;
    justify-content: center;
}

.search-result-title {
    margin-top: 19vw;
    background-color: white;
    padding: 1vw 2vw;
    border-radius: 3vw;
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.search-result-title h1 {
    font-family: Atkinson Hyperlegible Mono, Arial;
    font-size: 2vw;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
}

.item-grid {
    display: grid;
    column-gap: 1.5vw;
    row-gap: 1.5vw;
}

@media (min-width: 1401px) {
    .item-grid {
        width: 97vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .item {
        height: 30vw;
    }
}

@media (min-width: 681px) and (max-width: 1400px){
    .item-grid {
        width: 80vw;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .item {
        height: 35vw;
    }
}

@media (max-width: 680px) and (min-width: 351px) {
    .item-grid {
        width: 60vw;
        grid-template-columns: 1fr 1fr;
    }

    .item {
        height: 40vw;
    }
}

@media (max-width: 350px) {
    .item-grid {
        width: 35vw;
        grid-template-columns: 1fr;
    }

    .item {
        height: 45vw;
    }
}

.item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3vw;
    padding: 1.5vw;
}

.item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0;
}

.item-img img {
    border-radius: 10%;
    width: 20vw;
}

.item-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.item-info button {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1.7vw 1.5vw;
    border: none;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.2s;
    font-family: Atkinson Hyperlegible Mono, Arial;
    font-size: 1vw;
    cursor: pointer;
}

.item-info button:hover {
    opacity: 0.7;
}

.item-info button:active {
    opacity: 0.5;
}

.item-info h1,
.item-info h2 {
    margin: 0;
    font-size: 1.5vw;
    font-weight: 500;
    font-family: Atkinson Hyperlegible Mono, Arial;
}