main {
    margin-top: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Unbounded", "Arial";
}

footer {
    margin-top: 10vw;
}

article {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 42vw;
    width: 30vw;
    border-radius: 3vw;
    box-shadow: inset -0.5vw -0.5vw 1vw rgba(0, 0, 0, 0.3);
}

article h1 {
    margin: 0;
    font-family: "Rubik Glitch", "Arial";
    font-size: clamp(0rem, 2.5vw , 1000rem);
}

article form {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1vw;
}

article form>input,
article form>button{
    padding: 0.9vw 1.5vw;
    border: none;
    border-radius: 1vw;
    background-color: white;
    box-shadow: inset 0.15vw 0.15vw 0.45vw rgba(0, 0, 0, 0.4);
    font-size: clamp(0rem, 1.2vw, 1000rem);
    font-family: "Unbounded", "Arial";
    max-width: 17vw;
}

.agreement {
    display: flex;
    align-items: center;
    margin-top: 1vw;
    align-self: flex-start;
}

.agree-checkbox {
    margin: 0;
    appearance: none;
    height: 100%;
    aspect-ratio: 1;
    border: 0.1vw solid #999;
    border-radius: 0;
    transition: 0.2s all linear;
    margin-right: 0.4vw;
}

.agree-checkbox:checked {
    border: 0.45vw solid black;
    border-radius: 50%;
}

.agree-input {
    font-size: clamp(0rem, 0.92vw , 1000rem);
    white-space: nowrap;
}

article form button {
    margin-top: 0.7vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5),
        inset 0 0 0.5vw rgba(255, 255, 255, 0.5);
    background-color: black;
    color: white;
    border-radius: 2vw;
    cursor: pointer;
    transition: all 0.2s;
    font-size: clamp(0rem, 1.5vw, 1000rem);
}

article form button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

article form button:active {
    transform: scale(95%);
}

.error-list {
    margin: 0;
    padding: 0;
    max-width: 20vw;
    max-height: 3vw;
    font-size: clamp(0rem, 0.8vw, 1000rem);
    color: crimson;
    overflow: hidden;
    ul {
        padding: 0;
        margin: 0;
    }
}

.bottom-form {
    display: flex;
    column-gap: 0.7vw;
}

.bottom-form a,
.bottom-form span{
    margin: 0;
    font-size: clamp(0rem, 1.1vw, 1000rem);
    font-style: italic;
    text-decoration: none;
    white-space: nowrap;
}