<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Mainpage</title>
</head>
<body>
    <div class="item-grid">
        {% for item in items %}
            <div class="item">
                <!--pisa-->
                <!--pisulka-->
                <h1>{{ item.name }}</h1>
                <h2>{{ item.price }}</h2>
                <img src="{{ item.image.url }}" width="200" alt="">
            </div>
        {% endfor %}
    </div>
</body>
</html>