{% extends 'index.html' %}

{% block links %}
  <link rel="stylesheet" href="/static/css/item.css">
{% endblock %}

{% block title %}
  Товар
{% endblock %}

{% block main %}
  <div class="item">
        <div class="item-img">
            <img src="{{ item.image.url }}" alt="">
        </div>
        <div class="item-info">
            <div>
                <h1>{{ item.name }}</h1>
                <h2>{{ item.price }} ₽</h2>
            </div>
            <div>
                <form method="post" action="{% url 'shop:add_to_cart' item.id %}">
                    {% csrf_token  %}
                    <button type="submit">buy</button>
                </form>
                {% if user.is_staff %}
                <form method="post"  name="delete_item">
                    {% csrf_token %}
                    <button type="submit">удалить</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
  <div class="item-desc">
        <h1>Описание</h1>
        <p>
            {{ item.description }} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad alias aliquid consectetur dicta dolorum ducimus earum expedita facere harum id ipsa, itaque labore minus molestias mollitia necessitatibus nisi nostrum numquam porro possimus sed sunt temporibus tenetur voluptates? Dicta eius eos expedita fugiat magni perferendis perspiciatis reprehenderit tempore! Dicta, maxime!
        </p>
    </div>
{% endblock %}