{% extends 'index.html' %}

{% block links %}
  <link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block title %}
  Профиль
{% endblock %}

{% block main %}
  <h1>Личные данные</h1>

  <article>
    <div class="profile-info">
      <h2>username: <span class="username">{{ user.username }}</span></h2>
      <form method="post" action="{% url 'password_change' %}">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">Change password</button>
      </form>
    </div>
    <form class="login" method="post" action="{% url 'logout' %}?next={% url 'shop:profile' %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Log out</button>
    </form>

  </article>
{% endblock %}