{% extends 'index.html' %}

{% block links %}
  <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block title %}
  Search {{ search_body }}
{% endblock %}

{% block main %}
  <div class="search">
    <div class="sort">
      <div class="sort-drop-button">
        <img class="sort-arrows" src="/media/media/images/sort_arrows.png">
        <p class="radio-p">По умолчанию</p>
        <img class="bottom-arrow" src="/media/media/images/arrow-to-bottom.png">
      </div>
      <div class="sort-drop-menu">
        <div class="sort-drop-row">
          <input id="radio0" type="radio" name="sort" checked>
          <label for="radio0">По умолчанию</label>
        </div>
        <div class="sort-drop-row">
          <input id="radio1" type="radio" name="sort">
          <label for="radio1">По возрастанию цены</label>
        </div>
        <div class="sort-drop-row">
          <input id="radio2" type="radio" name="sort">
          <label for="radio2">По убыванию цены</label>
        </div>
      </div>
    </div>

    <form method="get" action="{% url 'shop:search' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="search-button" type="submit">
            <img src="/media/media/images/search.svg" alt="">
        </button>
    </form>
    <div class="search-tips"></div>
  </div>
  {% if search_results %}
    <div class="item-grid">
        {% for item in search_results %}
            <div class="item" data-price="{{ item.price }}">
                <div class="item-img">
                    <img src="{{ item.image.url }}" alt="">
                </div>
                <div class="item-info">
                    <div>
                        <h1>{{ item.name }}</h1>
                        <h2>{{ item.price }}</h2>
                    </div>
                    <div>
                        <form method="post" action="{% url 'shop:add_to_cart' item.id %}">
                            {% csrf_token  %}
                            <button type="submit">buy</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  {% else %}
      <div class="empty-cart">
          <div class="empty-cart-info">
              <h1>Ничего не найдено по запросу</h1>
              <p>Попробуйте поискать по-другому или сократить запрос</p>
              <a href="/">
                  Перейти на главную
              </a>
          </div>
      </div>
  {% endif %}
{% endblock %}