<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <title>Search {{ search_body }}</title>
</head>

<body>
    <script src="/static/scripts/script.js"></script>

    <header>
        <div class="header-img">
            <img src="/media/media/images/top_wave.svg" alt="">
        </div>
        <div class="header-logo">
            <a href="/">
                © BULL'S SHOP
            </a>
        </div>

        <div class="cart-icon">
            <a href="/cart"><button class="cart-button">
                <img src="/media/media/images/shop-icon.svg" alt="">
            </button></a>
        </div>
    </header>

    <div class="search">
        <form method="get" action="{% url 'shop:search' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="search-button" type="submit">
                <img src="/media/media/images/search.svg" alt="">
            </button>
        </form>
        <p class="search-tips" style="background-color: white; font-size: 2rem;"></p>
    </div>

    <main>
        {% if search_results %}
            <div class="item-grid">
                {% for item in search_results %}
                    <div class="item">
                        <div class="item-img">
                            <img src="{{ item.image.url }}" alt="">
                        </div>
                        <div class="item-info">
                            <div>
                                <h1>{{ item.name }}</h1>
                                <h2>{{ item.price }}</h2>
                            </div>
                            <div>
                                <form method="post" action="{% url 'shop:add_to_cart' item.id %}">
                                    {% csrf_token  %}
                                    <button type="submit">buy</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="empty-cart">
                <div class="empty-cart-info">
                    <h1>Ничего не найдено по запросу</h1>
                    <p>Попробуйте поискать по-другому или сократить запрос</p>
                    <a href="/">
                        Перейти на главную
                    </a>
                </div>
            </div>
        {% endif %}
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-title">© BULL'S SHOP 2025</div>
            <nav>
                <a href="">Контакты</a>
                <a href="">Copyright</a>
                <a href="">Политика конфиденциальности</a>
            </nav>
        </div>
    </footer>
</body>
</html>